<html ng-app="app">
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <!-- Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">-->
  <script src="https://cdn.rawgit.com/riggerthegeek/ng-page-title/master/dist/ng-page-title.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>

  <title page-title></title>

  <!--My code-->
  <script src="javascripts/controllers/index.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div ng-controller="HeaderController" class="ng-cloak" style="height:10%; background: #eee;" >
  <div layout="row" layout-align="space-between">

    <div ng-show="isLoggedIn()">
      <md-button aria-label="menu" ng-click="goHome()" class="md-fab md-primary">
        <md-tooltip md-direction="bottom">Home</md-tooltip>
        <img class="png-icon" src="images/icons/iconnoback.png" style="width: 24px; height: 24px;">

      </md-button>

    </div>

  <div layout-align="left" ng-show="isLoggedIn()">
    <md-fab-speed-dial md-open="demo.isOpen" count="demo.count" ng-hide="demo.hidden" ng-class="demo.selectedMode" ng-class="{ 'md-hover-full': demo.hover }"
                       ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false"
                    md-direction="{{demo.selectedDirection}}">
      <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary">
          <md-tooltip md-direction="bottom">Menu</md-tooltip>
          <md-icon md-svg-src="images/icons/menu.svg"></md-icon>
        </md-button>
      </md-fab-trigger>

        <md-fab-actions>
          <md-button aria-label="home" ng-click="goHome()" class="md-fab md-raised md-mini" style="padding: 0 10 0 10">
            <md-tooltip md-direction="bottom">Home</md-tooltip>
            <ng-md-icon icon="dashboard" style="fill: #636363;" size="20" md-theme="default"></ng-md-icon>
          </md-button>
          <md-button aria-label="groups" ng-click="GroupsClick()" class="md-fab md-raised md-mini" style="padding: 0 10 0 10">
            <md-tooltip md-direction="bottom">Groups</md-tooltip>
            <ng-md-icon icon="group" style="fill: #636363;" size="20" md-theme="default"></ng-md-icon>
          </md-button>
          <md-button aria-label="mentor" ng-click="MentoringClick()" class="md-fab md-raised md-mini" style="padding: 0 10 0 10">
            <md-tooltip md-direction="bottom">Partners</md-tooltip>
            <ng-md-icon icon="work" style="fill: #636363;" size="20" md-theme="default"></ng-md-icon>
          </md-button>
          <md-button ng-show="isLoggedIn()" ng-click="ProfileClick()"  class="md-fab md-raised md-mini" style="padding: 0 10 0 10">
            <md-tooltip md-direction="bottom">Profile</md-tooltip>
            <ng-md-icon icon="account_circle" style="fill: #636363;" size="20" md-theme="default"></ng-md-icon>
          </md-button>
          <md-button ng-show="isLoggedIn()" ng-click="userLogout()"  class="md-raised md-mini md-fab" style="padding: 0 10 0 10">
            <md-tooltip md-direction="bottom">Logout</md-tooltip>
            <ng-md-icon icon="exit_to_app" style="fill: #636363;" size="20" md-theme="default"></ng-md-icon>
          </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

  </div>


  </div>


  <div ng-show="!isLoggedIn()" layout="row" layout-align="center">
    <md-button aria-label="menu" class="md-fab md-primary">
      <md-tooltip md-direction="bottom">Home</md-tooltip>
      <img class="png-icon" src="images/icons/iconnoback.png" style="width: 24px; height: 24px;">
    </md-button>
  </div>


  <!--<div style="margin-left: 2%;">-->
    <!---->
    <!--<md-button ng-show="isLoggedIn()" ng-click="GroupsClick()">-->
      <!--Groups-->
    <!--</md-button>-->
    <!--<md-button ng-show="isLoggedIn()" ng-click="MentoringClick()">-->
      <!--Mentoring-->
    <!--</md-button>-->
  <!--</div>-->
  <!--<span flex></span>-->
  <!--<button ng-show="isLoggedIn()" class="homeButton" ng-click="goHome()">Mentor Manager</button>-->
  <!--<button ng-hide="isLoggedIn()" class="homeButton">Mentor Manager</button>-->
  <!--<span flex></span>-->
  <!--<div style="margin-right: 2%;">-->
    <!--<md-button ng-show="isLoggedIn()" ng-click="ProfileClick()" style="">-->
      <!--{{getUsername()}}-->
    <!--</md-button>-->
    <!--<md-button ng-show="isLoggedIn()" class="md-raised md-primary" style="" ng-click="userLogout()">Logout</md-button>-->
  <!--</div>-->

</div>

<div ng-view></div>

</body>
</html>