<html ng-app="app">
<head>
  <!-- Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>

  <!--My code-->
  <script src="javascripts/controllers/index.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div ng-controller="HeaderController" layout="row" class="ng-cloak" layout-align="center">
  <button ng-show="isLoggedIn()" class="homeButton" ng-click="goHome()"><%= title %></button>
  <span flex></span>
  <md-button ng-show="isLoggedIn()" class="md-raised md-primary" style="float: right; margin-right:50px; height: 1%; margin-top: 20px" ng-click="userLogout()">Logout</md-button>
</div>

<div ng-view></div>

</body>
</html>