<html ng-app="app">
<head>
  <link rel="shortcut icon" href="fav-icon.ico" type="image/x-icon">
  <!-- Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="https://cdn.rawgit.com/riggerthegeek/ng-page-title/master/dist/ng-page-title.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>

  <title page-title></title>

  <!--My code-->
  <script src="javascripts/controllers/index.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div ng-controller="HeaderController" layout="row" class="ng-cloak" layout-align="space-around center" style="height:10%">
  <div style="margin-left: 2%;">
    <md-button ng-show="isLoggedIn()" ng-click="GroupsClick()">
      Groups
    </md-button>
    <md-button ng-show="isLoggedIn()" ng-click="MentoringClick()">
      Mentoring
    </md-button>
  </div>
  <span flex></span>
  <button ng-show="isLoggedIn()" class="homeButton" ng-click="goHome()">Mentor Manager</button>
  <button ng-hide="isLoggedIn()" class="homeButton">Mentor Manager</button>
  <span flex></span>
  <div style="margin-right: 2%;">
    <md-button ng-show="isLoggedIn()" ng-click="ProfileClick()" style="">
      {{getUsername()}}
    </md-button>
    <md-button ng-show="isLoggedIn()" class="md-raised md-primary" style="" ng-click="userLogout()">Logout</md-button>
  </div>
</div>

<div ng-view></div>

</body>
</html>