<html ng-app="app">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<div ng-view></div>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>-->
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

<script src="javascripts/controllers/index.js"></script>
<!-- Template -->

<script type="text/ng-template" id="/login.html">
  <div ng-controller="LoginController" layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
      <md-toolbar>
        <h2 class="md-toolbar-tools"><span>Login</span></h2>
      </md-toolbar>
      <md-content layout="column" class="md-padding">
        <md-input-container>
          <label>EmailAddress</label>
          <input type="email" ng-model="username"/>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="password"/>
        </md-input-container>
        <div layout="row" layout-align="center center" style="padding-top:20px;">
          <button ng-click="login()">Login</button>
          <md-button>Login</md-button>
          <md-button class="md-raised md-primary">Primary</md-button>
          <div flex="flex"></div>
          <button>Forgot Password</button>
          <md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button>
        </div>
      </md-content>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/login2.html">
  <input type="text" placeholder="Username" ng-model="username">
  <input type="text" placeholder="Password" ng-model="password">
  <button ng-click="login()">Login</button>
  <br>
  <br>
  Don't have an account? <button ng-click="createAccount()">Sign Up</button>
</script>

<script type="text/ng-template" id="/signup.html">
  <h4>Please fill in all boxes</h4>
  <input type="text" placeholder="Username" ng-model="username">
  <input type="text" placeholder="Email" ng-model="email">
  <br>
  <input type="text" placeholder="Password" ng-model="password">
  <input type="text" placeholder="Full Name" ng-model="fullName">
  <input type="number" placeholder="Age" ng-model="number">
  <br>
  <input type="text" placeholder="Gender" ng-model="gender">
  <input type="text" placeholder="Degree" ng-model="degree">
  <button ng-click="signup()">Sign Up</button>
</script>

</body>
</html>