<div class="container" ng-controller="LoginController">
    <div ng-controller="LoginController" layout="column" layout-align="center center" layout-fill="layout-fill">
        <div layout="column" class="loginBox md-whiteframe-z1">
            <md-toolbar>
                <h2 class="md-toolbar-tools"><span>Login</span></h2>
            </md-toolbar>
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <input type="text" placeholder="Username" ng-model="username" required>
                </md-input-container>
                <md-input-container>
                    <input type="text" placeholder="Password" ng-model="password" required>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <div ng-show="username.length && password.length">
                        <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
                    </div>
                    <div ng-hide="username.length && password.length">
                        <md-button ng-disabled="true" class="md-raised md-primary" ng-click="login()">Login</md-button>
                    </div>
                    <div flex="flex"></div>
                    <md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button>
                </div>
                <div layout="column" layout-align="center center" style="padding-top:20px">
                    Don't have an account?
                    <md-button class="md-raised md-primary" ng-click="createAccount()">Create Account</md-button>
                </div>
            </md-content>
        </div>
    </div>
</div>