<div id="wrap" ng-controller="WorkpartnerController" flex layout="row" style="height:90%; ">
    <md-content md-theme="default" id="groups" flex layout="column" style="width:40%;" layout-padding>
        <h1>Find a Work Partner</h1>
        <div flex layout="row" layout-padding >
            <div layout="column" style="width:50%; padding-left: 1%;">
                <div>
                    <br>
                    <md-input-container md-theme="default" flex="50">
                        <label>Gender</label>
                        <md-select md-theme="default" aria-label="Gender" ng-model="Gender">
                            <md-option md-theme="default" value="Female">Female</md-option>
                            <md-option md-theme="default" value="Male">Male</md-option>
                            <md-option md-theme="default" value="none">No Preference</md-option>
                        </md-select>
                    </md-input-container>
                    <br>
                    <md-input-container md-theme="default" >
                        <label>Minimum Age</label>
                        <input type="number" placeholder="Minimum Age" ng-model="minAge">
                    </md-input-container>
                    <md-input-container md-theme="default" >
                        <label>Maximum Age</label>
                        <input type="number" placeholder="Maximum Age" ng-model="maxAge">
                    </md-input-container>
                    <br>
                    <div layout="row" style="padding-top: 20px; padding-bottom:20px;" layout-align="left center">
                        <h4>I'd like to find a...</h4>
                        <md-input-container md-theme="default" flex="1">
                            <label>Partner Type</label>
                            <md-select md-theme="default" aria-label="MentorType" ng-model="MentorType">
                                <md-option md-theme="default" value="mentor">Mentor</md-option>
                                <md-option md-theme="default" value="mentee">Mentee</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <br>
                    <div layout="row" layout-align="left center">
                        <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText"
                                         md-theme="default" md-items="item in getWords(searchText)" md-item-text="item.display"
                                         md-selected-item-change="changeCategory(selectedItem)"
                                         style="width:100px;">
                            <span>{{item}}</span>
                            <md-not-found md-theme="default" >
                                No matches found.
                            </md-not-found>
                        </md-autocomplete>
                        <md-input-container md-theme="default" flex="30" style="padding-left: 20px">
                            <label>Category</label>
                            <md-select md-theme="default" aria-label="Category" ng-model="itemCategory">
                                <md-option md-theme="default" ng-repeat="option in categoryList" value="{{option}}">{{option}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button md-theme="default" class="md-raised md-primary" ng-click="addWord(searchText)" style="height:35px;">Add Knowledge</md-button>
                    </div>
                    <md-switch ng-show="interests.length > 0" md-theme="default" class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="similar">
                        Would you like the site to look for similar words to your required interests?
                    </md-switch>
                    <md-content md-theme="default" ng-repeat="item in interests" layout="row">
                        <h4>{{item.word}} in {{item.category}}</h4>
                        <md-button md-theme="default" class="md-icon-button md-primary" aria-label="Settings"
                                   ng-click="removeInterest(item)" style="display: block; margin: 1%;">
                            <ng-md-icon icon="clear" style="fill: #636363;" size="20"></ng-md-icon>
                        </md-button>
                    </md-content>
                    <md-button class="sideButton" ng-click="clear()" align="center" style="width:125px;">Clear Search</md-button>
                    <md-button md-theme="default" class="md-raised md-primary" ng-click="match()" style="">Find Partner</md-button>
                </div>
            </div>
            <div style="width:50%;" >
                <div ng-show="fullresponse === true">
                    <h2>Results for a {{partner}}</h2>
                    <div ng-repeat="item in matches" layout="row" layout-align="space-around center">
                        <div style="padding-left: 1%;">
                            <h3>{{item.username}}</h3>
                            <h3>{{item.fullname}}, {{item.age}}, {{item.gender}}</h3>
                            <h4>Score: {{item.score}}</h4>
                            <h4>Contact: {{item.email}}</h4>
                        </div>
                        <div style="padding-left: 1%;">
                            <h3>Knowledge Areas:</h3>
                            <div ng-repeat="know in item.knowledge">
                                <h4>{{know.word}} in {{know.category}}</h4>
                                <md-divider ng-if="!$last" ></md-divider>
                            </div>
                        </div>
                        <div layout='column' layout-align="center center" style="padding-left: 1%;">
                            <md-button ng-show="item.exists === 'No'" md-theme="default" class="md-raised md-primary" ng-click="request(item.username)" style="height: 35px;">Request Partner</md-button>
                            <md-button ng-show="item.exists !== 'No'" md-theme="default" ng-disabled="true" class="md-raised md-primary" ng-click="request(item.username)" style="height: 35px;">Request Partner</md-button>
                            <h4 ng-show="item.exists !== 'No'">{{item.username}} is currently your {{item.exists}}</h4>
                        </div>
                    </div>
                    <div ng-show="matches.length === 0">
                        <h3>No matches. Try widening your search requirements.</h3>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>