<div id="wrap" ng-controller="UserprofileController" style="height:90%">
    <md-content id="groups" style="overflow: scroll; padding-top: 1%;" md-theme="default">
        <h1>{{username}}'s Profile</h1>
        <div layout-align="center center" flex layout="row">
            <div style="width: 50%;" layout="column" layout-align="center center" flex>
                <div style="width: 70%; padding-top:50px;" ng-show="!profchange">
                    <div layout="row" layout-align="center">
                        <h3>You are a {{user.level}} with a score of {{user.userscore}}!</h3>
                        <md-button class="md-icon-button md-primary" ng-click="showCustom($event)" md-theme="default" >
                            <md-tooltip md-direction="bottom">Info</md-tooltip>
                            <ng-md-icon icon="info" style="fill:#636363; padding: 0 0 0 0; width:5%;" size="20"></ng-md-icon>
                        </md-button>
                    </div>
                    <h3>{{user.email}}</h3>
                    <h3>{{user.fullname}}</h3>
                    <h3>{{user.age}}</h3>
                    <h3>{{user.gender}}</h3>
                    <h3>{{user.degree}}</h3>
                </div>
                <div style="width: 50%; padding-top:50px;" ng-show="profchange" layout="column" layout-align="center">
                    <h3>You are a {{user.level}} with a score of {{user.userscore}}!</h3>
                    <md-input-container md-theme="default">
                        <label>Email</label>
                        <input type="email" class="myform" placeholder="Email" ng-model="user.email" required ng-class="{ 'has-error': userForm.email.$invalid }">
                    </md-input-container>
                    <md-input-container md-theme="default">
                        <label>Full Name</label>
                        <input type="text" class="myform" placeholder="Full Name" ng-model="user.fullname" required>
                    </md-input-container>
                    <md-input-container md-theme="default">
                        <label>Age</label>
                        <input type="number" class="myform" placeholder="Full Name" ng-model="user.age" required>
                    </md-input-container>
                    <h3>{{user.gender}}</h3>
                    <h3>{{user.degree}}</h3>
                </div>
                <div>
                    <md-button md-theme="default" class="md-raised md-primary" ng-show="!profchange" ng-click="profchange = true" style="width:170px;">Change Details</md-button>
                    <md-button md-theme="default" class="md-raised md-primary" ng-show="profchange" ng-click="saveProfile()" style="width:170px;">Save Details</md-button>
                </div>
                <div>
                    <md-button md-theme="default" ng-click="removeUser()">Delete Account</md-button>
                    <md-button md-theme="default" ng-click="userLogout()">Logout</md-button>
                </div>
            </div>
            <div style="width: 50%;" layout="column" layout-align="center center" flex>
                <h3>Interests:</h3>
                <md-button md-theme="default" class="md-raised md-primary" ng-show="!change" ng-click="change = true" style="width:170px;">Change Interests</md-button>
                <md-button md-theme="default" class="md-raised md-primary" ng-show="change" ng-click="saveInterests()" style="width:170px;">Save Interests</md-button>
                <div ng-show="!change" ng-repeat="item in user.knowledge">
                    <h4>{{item.word}}</h4>
                    <h4>{{item.category}}</h4>
                </div>
                <div ng-show="change">
                    <div ng-repeat="item in interests" layout="row" layout-align="center">
                        <md-input-container md-theme="default" style="padding-right: 20px;">
                            <label>Interest</label>
                            <input type="text" placeholder="Interest" ng-model="item.word" required>
                        </md-input-container>
                        <md-input-container flex="50" md-theme="default">
                            <label>Category</label>
                            <md-select ng-model="item.category" md-theme="default">
                                <md-option md-theme="default" ng-repeat="option in categoryList" value="{{option}}">{{option}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button md-theme="default" class="md-icon-button md-primary" aria-label="Settings" ng-click="removeInterest(item)" style="padding-top: 20px;">
                            <ng-md-icon md-theme="default"icon="clear" style="fill: #636363;" size="20"></ng-md-icon>
                        </md-button>
                    </div>
                    <div layout="row" layout-align="center" style="">
                        <md-button md-theme="default" id="newInterest" ng-click="addNew()">Add New Interest</md-button>
                    </div>
                </div>
            </div>
        </div>

    </md-content>


</div>